<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			http-equiv="X-UA-Compatible"
			content="IE=edge"
		/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title><%= args.title%></title>
	</head>
	<body>
		<h1>To Do List</h1>
		<div class="toDos">
			<% if (args.todos.length < 1) {%>
			<h2>There are no todos yet!</h2>
			<%} else {%>
			<ul>
				<% args.todos.forEach( todo => {%>
				<li><%= todo.title %>:&#9;<%= todo.isDone() %></li>
				<% })} %>
			</ul>
		</div>
		<div class="addTodo">
			<form
				action="/"
				method="post"
			>
				<input
					type="text"
					name="title"
					required
				/>
				<input
					type="submit"
					value="Add a Todo!"
				/>
			</form>
		</div>
	</body>
</html>
